.idea
.vscode

# logs
logs
*.log
npm-debug.log*

# local env files
.env*.local
.env

# typescript
*.tsbuildinfo

# temp files
vite.config.ts.timestamp*

# project directories
coverage
build
node_modules
